$color-primary: #f5e3b3;
$color-secondary: #333;
$color-light: #efefef;
$color-dark: #222222;
$darkcyan: darkcyan;
$darkgoldenrod: darkgoldenrod;
$darkslategray: darkslategray;
$black: black;
$red: red;
$font-primary:'Raleway', sans-serif;
$font-secondary: monospace;